.logo{
    width: 200px;
    position: absolute;
    left: 900px;
    top: 200px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 10px 15px 10px #9b2226;
    animation-name: logo;
    animation-duration: 10s;
}
@keyframes logo{
    0%{
        left: 900px;
        top: 180px;
        box-shadow: 10px 15px 10px #bc6c25;
    }
25%{
    left: 900px;
        top: 160px;
        box-shadow: 10px 15px 10px #dda15e;
}
25%{
    left: 900px;
        top: 140px;
        box-shadow: 10px 15px 10px #ffddd2;
}
    100%{
        left: 900px;
        top: 200px;
        box-shadow: 10px 15px 10px #9b2226;

    }
  
}
.logo2{
    width: 200px;
    position: absolute;
    top: 720px;
    left: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 10px 15px 10px #9b2226;
    animation-name: logo2;
    animation-duration: 10s;
}
@keyframes logo2{
    0%{
        top: 650px;
    left: 50px;
        box-shadow: 10px 15px 10px #bc6c25;
    }
25%{
    top: 670px;
    left: 50px;
        box-shadow: 10px 15px 10px #dda15e;
}
25%{
    top: 700px;
    left: 50px;
        box-shadow: 10px 15px 10px #ffddd2;
}
    100%{
        top: 720px;
        left: 50px;
        box-shadow: 10px 15px 10px #9b2226;

    }
}
body{
background: linear-gradient(to right, #e9c46a, #e76f51);
height: 100vh;
}

.Home{
    position: absolute;
    left: 650px;
    top: 35px;
    text-shadow: 1px 5px 5px #d00000;
    list-style: none;
    

}
a:hover{
    color: #e9c46a;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
    
.Service{
    position: absolute;
    left: 750px;
    top: 35px;
    text-shadow: 1px 5px 5px #d00000;

}
.About{
    position: absolute;
    left: 850px;
    top: 35px;
    text-shadow: 1px 5px 5px #d00000;

}
.Contant{
    position: absolute;
    left: 950px;
    top: 35px;
    text-shadow: 1px 5px 5px #d00000;

}
.Portiflio{
    position: absolute;
    left: 1050px;
    top: 35px;
    text-shadow: 1px 5px 5px #d00000;

}
.logo1{
    width: 80px;
    border-radius: 80px;
    box-shadow: 10px 5px 10px #e85d04;
}
.h11{
    position: absolute;
    top: 190px;
    left: 50px;
    text-shadow: 5px 5px 5px #d00000;
    animation-name: h11;
    animation-duration: 5s;
    font-size: 12px;
}
@keyframes h11{
    from{
        font-size: 5px;
    }
    to{
font-size: 12px;
    }
}
.name{
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 50px;
    text-shadow: 5px 5px 5px #d00000;
    animation-name: name;
    animation-duration: 5s;
}
@keyframes name{
    from{
        font-size: 40px;
    }
    to{
font-size: 50px;
    }
}
.avatar{
    width: 45px;
    position: absolute;
    left: 310px;
    top: 220px;
    animation-name: avatar;
    animation-duration: 5s;
}
@keyframes avatar{
    from{
        width: 10px;
    }
    to{
        width: 45px;
    }
}

.p1{
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 50px;
    text-shadow: 5px 5px 5px #d00000;
    animation-name: p1;
    animation-duration: 5s;
}
@keyframes p1{
    from{
        font-size:5px;
    }
    to{
font-size: 20px;
    }
}
.fa-facebook-f{
position: absolute;
top: 380px;
left: 50px;

}
.fa-facebook-f:hover{
    color:#621708;
}


.fa-instagram{
    position: absolute;
top: 380px;
left: 100px;
}
.fa-instagram:hover{
    color:#621708;
}

.fa-linkedin-in{
    position: absolute;
    top: 380px;
    left: 150px;
}
.fa-linkedin-in:hover{
    color:#621708;
}
.fa-whatsapp{
    position: absolute;
    top: 380px;
    left: 200px;
    animation-name: fa-whatsapp;
    animation-duration: 5s;
}
.fa-whatsapp:hover{
    color: #621708;
}


.button1{
    position: absolute;
    top: 450px;
    left: 50px;
    width: 150px;
    height: 25px;
    background-image: linear-gradient(to right, #e9c46a, #e76f51);
    border-radius: 30px;
    animation-name: button-intro;
    animation-duration: 5s;
}
@keyframes button-intro{
    from{
        width: 50px;
    }
    to{
width: 150px;
    }
}
.hr1{
    width: 650px;
    height: 5px;
    background: #bc6c25;
    position: absolute;
    top: 600px;
    left: 200px;
}
.hr2{
    width: 650px;
    height: 5px;
    background: #bc6c25;
    position: absolute;
    top: 1100px;
    left: 200px;
}
.h9{
    position: absolute;
    top: 700px;
    left: 450px;
    font-size: 40px;
    text-shadow:2px 5px 5px #d00000;

}

.p2{
    position: absolute;
    top: 800px;
    left: 450px;
    font-size: 20px;
    text-shadow:2px 5px 5px #621708;


}
.button2{
    position: absolute;
    top: 1050px;
    left: 80px;
    width: 150px;
    height: 25px;
    background-image: linear-gradient(to right, #e9c46a, #e76f51);
    border-radius: 30px;
    animation-name: button-intro;
    animation-duration: 5s;
}
.h12{
    position: absolute;
    top: 1150px;
    left: 450px;
    font-size: 40px;
    text-shadow:2px 5px 5px #e85d04;

}
span{
    color: #d00000;
}
.f1{
    width: 250px;
    height: 250px;
    display: inline-block;
    position: absolute;
    top: 1300px;
    left: 30px;
    border-radius: 30px;
    background: #bc6c25;
}
.f2{
    width: 250px;
    height: 250px;
    display: inline-block;
    position: absolute;
    top: 1300px;
    left: 430px;
    border-radius: 30px;
    background: #bc6c25;
}
.f3{
    width: 250px;
    height: 250px;
    display: inline-block;
    position: absolute;
    top: 1300px;
    left: 850px;
    border-radius: 30px;
    background: #bc6c25;
}
.h13{
    color: white;
    position:relative;
    left: 50px;
    top:30px;
}
.h14{
    color: white;
    position:relative;
    left: 30px;
    top:30px;
}
.p3{
    color: white;
    position: relative;
    left: 13px;
    top: 60px;
}
.p4{
    color: white;
    position: relative;
    left:50px;
    top: 60px;
}
.p5{
    color: white;
    position: relative;
    left:40px;
    top: 60px;
}
.fa-code{
    position: relative;
    left: 100px;
    width: 30px;
    top: 25px;
}
.fa-window-restore{
    position: relative;
    left: 100px;
    width: 50px;
    top: 25px;
}
.button3{
    position: relative;
    top: 80px;
    left: 50px;
    width: 150px;
    height: 25px;
    background-image: linear-gradient(to right, #e9c46a, #e76f51);
    border-radius: 30px;
    animation-name: button-intro;
    animation-duration: 5s;
}
.hr3{
    width: 650px;
    height: 5px;
    background: #bc6c25;
    position: absolute;
    top: 1700px;
    left: 200px;
}
.hr2{
    width: 650px;
    height: 5px;
    background: #bc6c25;
    position: absolute;
    top: 2500px;
    left: 200px;
}
.h15{
    position: absolute;
    top: 1750px;
    left: 450px;
    display: inline-block;
    font-size: 50px;
    text-shadow:2px 5px 5px #e85d04;

}
.f4{
    width: 1100px;
    height: 450px;
    display: inline-block;
    position: absolute;
    top: 1900px;
    left: 30px;
    border-radius: 30px;
    background: #bc6c25;
    border: none;
}
.project1{
    width: 350px;
    display: inline-block;
    border-radius: 30px;
    top: 25px;
    position: relative;

   
}
.project2{
    width: 350px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    left: 25px;
    top: 25px;
}
.project3{
    width: 300px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    left: 55px;
    top: 25px;
}
.project4{
    width: 300px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    left: 15px;
    top: 55px;
}
.project5{
    width: 300px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    left: 85px;
    top: 25px;
}
.project6{
    width: 300px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    left: 155px;
    top: 55px;
}
.h16{
    position: absolute;
    top: 2500px;
    left: 450px;
    display: inline-block;
    font-size: 50px;
    text-shadow:2px 5px 5px #e85d04;

}
.f5{
    width: 350px;
    height: 320px;
    
    display: inline-block;
    position: absolute;
    top: 2700px;
    left: 400px;
    border-radius: 30px;
    background: #bc6c25;
    border: none;
}
.email, .First, .Second ,.password{
    border-radius: 5px;
  height: 25px;
    background: #dda15e;
}
.Message{
    border-radius: 5px;
    height: 25px;
      background: #dda15e;
      height: 200px;
      width: 335px;
}
.Button4{
    position: absolute;
    top: 300px;
    left: 100px;
    width: 150px;
    height: 25px;
    background-image: linear-gradient(to right, #e9c46a, #e76f51);
    border-radius: 30px;
 
}