h3{
    position: absolute;
    left: 150px;
    top: 450;
}
h4{
    position: absolute;
    left: 150px;
    top: 50px;
}
.post{
    position: absolute;
    left: 150px;
    top: 150px;
}
.post1{
    position: absolute;
    left: 150px;
    top: 180px;
    width: 280px;
    height: 30px;
    border-radius: 10px;
}
h5{
    position: absolute;
    left: 150px;
    top: 210px;
}
button{
    position: absolute;
    left: 150px;
    top: 300px;
    width: 140px;
    height: 25px;
    border-radius: 30px;
    background: black;
    color: white;
}