body{
    background-image: linear-gradient(to right,#C0BCB5,#846075,#AF5D63,#ED474A);
}
fieldset{
    width: fit-content;
    position: absolute;
    top: 100px;
    left: 450px;   
    border-radius: 30px; 
}
a{
    text-decoration: none;
}
h3{
   position: relative;
   left: 60px;
   font-family: "PT Sans Narrow", sans-serif;
   font-weight: 700;
   font-style: normal;
   font-size: 30px;
}
input{
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.input3:valid{
    background: #AF5D63;
    
}
.input3:invalid{
    background: #C0BCB5;

}
.input2:valid{
    background: #AF5D63;
}
.input2:invalid{
    background: #C0BCB5;

}
label{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
a:hover{
color: #C0BCB5;
}
.input1{
    background-image: linear-gradient(to right,#C0BCB5,#846075);
    width: 150px;
    height: 25px;
    border-radius: 30px;
    align-content: center;
    position: relative;
    left: 20px;
}
.fa-facebook{
    color: blue;
    position: relative;
    left: 40px;
    bottom: 10px;
}
.fa-twitter{
    color: rgb(0, 179, 255);
    position: absolute;
    left: 90px;
top: 10px;
}
.fa-google{
    color: red;
    position: relative;
    left: 60px;
    bottom: 10px;
}
.h7{
    display: inline-block;
    position: relative;
    left: 25px;
}
.h7:hover{
    color:#C0BCB5 ;
}

.fa-right-to-bracket{
    display: inline-block;
    position: relative;
    left: 15px;
}